<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <title>TheNetNinja Angular Playlist</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
      <script src="app/lib/angular.min.js"></script>
      <script src="app\app.js"></script>
  </head>

  <body >   <!-- ng-init ="ninjas = ['Donnie','Mikey','Raph','Leo']"  was in the body from an earlier example-->
    <!-- <input type="text" ng-model="favmeats" placeholder="enter favorite meats"/>
    <p> your fav meat is: {{favmeats}}<p>

      <ul>
        <li ng-repeat="ninja in ninjas">{{ninja}}</li>
      </ul> -->
      <div ng-controller = "NinjaController">
        <p>{{message}}</p>
        <ul>
        <li ng-repeat ="ninja in ninjas"> {{ninja}}</li>
      </ul>
      </div>

  </body>
</html>
